
.color-main{
    display: flex;
    gap: 10px;
    align-items: center;
}

.colorStyle{
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

.colorActive{
    opacity: 1;
}