

/* *********************** PRODUCTS PAGE ********************* */

.products-main{
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: rgb(255, 255, 255);
}

.filter-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    height: fit-content;
    padding-bottom: 0;

}

.category-wise>ul>li{
    list-style: none;
    cursor: pointer;
}

.filter-category{
    color: red;
}


.category-wise>ul>li:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}

.product-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-top{
    padding: 20px 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.all-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5%;
    margin-bottom: 20px;
}

.filtered-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
    margin-bottom: 20px;
}

.products-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: 22vw;
}

.product-details{
    width: 100%;
    text-align: center;
}


.products-image{
    width: 100%;
    border-radius: 5px;
}

.products-image > img{
    width: 100%;
    height: 28vh;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
.products-image > img:hover{
    filter: brightness(0.8);
}


.product-btn{
    width: 50%;
    padding: 5px 0;
    font-weight: 600;
    z-index: 1;
    position: relative;
    color: teal;
    overflow: hidden;
    border-color: teal;
    transition: 0.3s linear;
}

.product-btn::before{
    background-color: teal;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.3s linear;
}

.product-btn:hover::before{
    transform: translateX(0);
}

.product-btn:hover{
    color: white;
}

/* ********************** RESPONSIVE *************** */

@media screen and (max-width: 1000px) {
    .products-wrapper{
        width: 28%;
    }
}

@media screen and (max-width: 890px) {
    .products-main{
        grid-template-columns: 20% 80%;
    }
    .filtered-products{
        flex-wrap: wrap;
        width: 100%;
    }
    .products-wrapper{
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .products-main{
        grid-template-columns: 25% 75%;
    }
    .products-wrapper{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .products-main{
        padding-top: 0;
        padding-bottom: 60px;
        grid-template-columns: 85%;
        justify-content: center;
        padding: 0 5px;
    }
    .filter-side{
        padding-top: 10px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        border-bottom: 2px solid gray;
    }
    .category-wise{
        text-align: center;
    }
    .category-wise>ul{
        text-align: center;
    }
    .products-wrapper{
        width: 100%;
    }
    .product-top{
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .product-top{
        font-size: 20px;
    }
}