


.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  

/* ************************* CONTACT PAGE *********************** */
.contact-main {
    width: 90VW;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-section > form {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.form-section>form>input,
textarea {
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
}

.form-section>form>input[type="submit"] {
    /* margin: auto; */
    width: 20%;
}

.map-section{
    border-bottom: 3px solid blue;
    border-right: 3px solid blue;
    padding: 0 10px 5px 0;
}

.map-section>iframe{
    border-radius: 10px;
}

/* ************************ ERROR PAGE **************************** */
.error-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error-main>h2{
    font-size: 40px;
}

.second-error{
    font-size: 20px;
}


/* ************************ SINGLE PRODUCT PAGE **************************** */
.single-wrapper{
    width: 70vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 5vw;
}

.single-image{
    height: 50vh;
}

.single-image>img{
    width: 100%;
    height: 100%;
}

.cart-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.cart-btn > button{
    padding: 10px 0;
    width: 48%;
    position: relative;
    font-weight: 600;
    color: teal;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s linear;
}

.cart-btn > button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: teal;
    transform: translateX(-100%);
    transition: 0.3s linear;
}

.cart-btn > button:hover::before{
    transform: translateX(0);
}

.cart-btn > button:hover{
    color: white;
    border-color: teal;
}

.delivery-detail{
    display: flex;
    justify-content: space-between;
}

.delivery-col{
    /* display: flex; */
    text-align: center;
}

.delivery-col>p{
    font-size: 12px;
    color: teal;
    font-weight: 600;
}

.delivery-icon{
    width: 55%;
    border-radius: 50%;
    cursor: pointer;
}

.delivery-icons{
    cursor: pointer;
    width: 42%;
    border-radius: 50%;
}

.extra-off{
    color: teal;
    font-weight: 600;
}
.extra-off+p{
    font-weight: 600;
}

/* ***************** RESPONSIVE *************** */

@media screen and (max-width:1100px) {
    .single-wrapper{
        width: 80vw;
    }
    .contact-main{
        grid-template-columns: 50% 50%;
        gap: 10px;
    }
}

@media screen and (max-width:1000px) {
    .single-wrapper{
        grid-template-columns: 45% 50%;
        gap: 3vw;
    }
}

@media screen and (max-width:900px) {
    .contact-main{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:800px) {
    .single-wrapper{
        grid-template-columns: 45% 53%;
        width: 87vw;
        gap: 2vw;
    }
}

@media screen and (max-width:650px) {
    .single-wrapper{
        display: flex;
        /* grid-template-columns: 1fr; */
        flex-direction: column;
        height: fit-content;
        width: 80vw;
        gap: 70px;
    }
}

@media screen and (max-width: 550px) {
    .form-section > form {
        width: 80%;
    }
}

@media screen and (max-width:450px) {
    .carousel-heading > h2{
        font-size: 24px;
    }
    .form-section > form {
        width: 90%;
    }
}

@media screen and (max-width:400px) {
    .single-wrapper{
        width: 90vw;
    }
    .delivery-col>p{
        font-size: 10px;
    }
}